/*body {
	background-color: lightgray;
      font-family:'VT323';
      font-size: 20px;
}*/

.jumbotron{

	background-image: url(https://earthobservatory.nasa.gov/Features/CitiesAtNight/images/ISS016-E-026150_denver.jpg); color: white; box-shadow: 5px 5px 5px gray; padding-left: 0px; padding-right: 0px; 
}

.text-left {
	color:maroon;
	background-color: white; 
	font-family: 'VT323', monospace; 
	font-size: 40px;

}

